<header class="app-header">
    <div class="logo">ABW Billing</div>
<nav class="nav-links">
  <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  <!-- <a routerLink="/quotation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Create Quotation</a>
  <a routerLink="/billing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Create Invoice</a> -->
</nav>

  <button class="logout-btn" (click)="logout()">Logout</button>
</header>
